<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo de Produtos</title>
    <link rel="stylesheet" href="css/CatalogoProdutos.css">
   
</head>
<body>
    <div class="MenuLateral">
        <div class="menu1">
            <button class="BtIMG"><img src="/img/58.png" height ="120" width="120" /></button>
            <br> Meu Perfil
        
        </div>

        <nav class="menu2">
            <ul>
                <li> <a href=""><img id="image1" src="/img/cachorro.png" width="45px" height="45px"> Cachorros</a></li>
                <li> <a href=""><img id="image2" src="/img/gato.png" width="40px" height="40px">  Gatos</a></li>
                <li> <a href=""><img id="image3" src="/img/passaro.png" width="35px" height="35px"> Passaros</a></li>
                <li> <a href=""><img id="image4" src="/img/peixe.png" width="40px" height="40px">  Peixes</a></li>
                <li> <a href=""><img id="image5" src="/img/roedor.png" width="35px" height="35px"> Roedores</a></li>
                <li> <a href=""><img id="image6" src="/img/outros.png" width="30px" height="30px"> Outros</a></li>
                <br><li style="text-align:center;" ><a href="/naologado"><button class="BtVoltar" >Voltar</button></a></li>
            </ul>
        
        </nav>
    </div>
    <div class="cabecalho">
        <div class="BarraPesquisa">
            <input type="text" class="txtBusca" placeholder="    Buscar..."/ >
            <img src="/img/Busca.png" id="btnBusca" alt="Buscar" width="15px" height="15px"/>

        </div>
        <div class="MenuSuperior">
            <ul class="MenuH">
                <li><a href="">Alimentação</a></li>
                <li> <a href="">Higiene e Limpeza</a></li>
                <li> <a href="">Brinquedos</a></li>
                <li> <a href="">Transporte de Pet</a></li>
                <li> <a href="">Acessorios</a></li>
                <li> <a href="">Outros</a></li>
                

            </ul>
        
        </div>
    </div>

    <div class="main">

        <div class="P1" style="text-align:center;">
            <button><img src="/img/01_racao_seca_nutrilus_pro__frango__carne_para_caes_adultos_2.jpg" height ="170" width="170" /><br><label>Nutrilus Pro</label><br><label>R$ 100,00</label></button>
        </div>
        <div class="P1" style="text-align:center;">
            <button><img src="/img/03_RACAO_CAES41MhBiYOVvL_AC_SR360_460.png" height ="190" width="170" /><br><label>GoldeN Fórmula</label><br><label>R$ 80,00</label></button>
        </div>
        <div class="P1" style="text-align:center;">
            <button><img src="/img/02_RACAO_CAES.png" height ="170" width="170" /><br><label>DOG Food</label><br><label>R$ 90,00</label></button>
        </div>
        <div class="P1" style="text-align:center;">
            <button><img src="/img/03_RACAO_CAES.png" height ="170" width="170" /><br><label>Dog Chow</label><br><label>R$ 130,00</label></button>
        </div>
        <div class="P1" style="text-align:center;">
            <button><img src="/img/04_RACAO_CAES.png" height ="170" width="200" /><br><label>Pedigree Adulto</label><br><label>R$ 150,00</label></button>
        </div>

        <div class="P1" style="text-align:center;">
            <button><img src="/img/06_Golden_gatos.jpg" height ="170" width="170" /><br><label>GoldeN Gatos</label><br><label>R$ 68,00</label></button>
        </div>
        <div class="P1" style="text-align:center;">
            <button><img src="/img/07_GRAN_PLUS.jpg" height ="170" width="170" /><br>Gran Plus Menu<label></label><br><label>R$ 70,00</label></button>
        </div>
        <div class="P1" style="text-align:center;">
            <button><img src="/img/08_WHISKAS_NATUREZA.jpg" height ="170" width="120" /><br><label>Whiskas</label><br><label>R$ 60,00</label></button>
        </div>
        <div class="P1" style="text-align:center;">
            <button><img src="/img/09_GUABI_NATURAL.jpg" height ="170" width="170" /><br><label>Guabi Natural</label><br><label>R$ 260,00</label></button>
        </div>
        <div class="P1" style="text-align:center;">
            <button><img src="/img/10_SPECIAL_CAT.jgp.webp" height ="170" width="170" /><br><label>Special Cat</label><br><label>R$ 51,99</label></button>
        </div>

        <div class="P1" style="text-align:center;">
            <button><img src="/img/11_RACAO_PEIXES.jpg" height ="170" width="100" /><br><label>Colors Bits</label><br><label>R$ 12,90</label></button>
        </div>
        <div class="P1" style="text-align:center;">
            <button><img src="/img/11_RACAO_PEIXES_SPIRULINA.jpg" height ="170" width="140" /><br><label>Alcon Spirulina</label><br><label>R$ 29,99</label></button>
        </div>
        <div class="P1" style="text-align:center;">
            <button><img src="/img/12_RACAO_PEIXES_SPIRULINA_COLOURS.jpg" height ="170" width="140" /><br><label>Alcon Spirulina Colours</label><br><label>R$ 39,99</label></button>
        </div>
        <div class="P1" style="text-align:center;">
            <button><img src="/img/13_RACAO_EXTRUSADA_SELECTA.jpg" height ="170" width="170" /><br><label>Selecta Birds</label><br><label>R$ 39,99</label></button>
        </div>
        <div class="P1" style="text-align:center;">
            <button><img src="/img/14_CALOPSITA_SUPREMA.jpg" height ="170" width="170" /><br><label>Suprema Calopsita</label><br><label>R$ 49,99</label></button>
        </div>

        <div class="P1" style="text-align:center;">
            <button><img src="/img/17_RACAO_ROEDORES.jpg" height ="170" width="170" /><br><label>Mix Hamster</label><br><label>R$ 30,00</label></button>
        </div>
        <div class="P1" style="text-align:center;">
            <button><img src="/img/18_FUNNY_BUNNY.jpg" height ="170" width="170" /><br><label>Funny Bunny</label><br><label>R$ 49,99</label></button>
        </div>
        <div class="P1" style="text-align:center;">
            <button><img src="/img/15_SELECTA_ROEDORES.jpg" height ="170" width="170" /><br><label>Selecta Roedores</label><br><label>R$39,99</label></button>
        </div>
        <div class="P1" style="text-align:center;">
            <button><img src="/img/19_NUTROTOPICA_ROEDORES.jpg" height ="170" width="140" /><br><label>Nutrotópica Roedores</label><br><label>R$69,99</label></button>
        </div>
        <div class="P1" style="text-align:center;">
            <button><img src="/img/20_ALFAFA_STICKS.jpg" height ="170" width="140" /><br><label>Alfafa Sticks</label><br><label>R$49,99</label></button>
        </div>






    </div>
   
    <!--div id="rodape">
        rodape
    </div -->
    
</body>
</html>