{% block notification %}
	<style>{% include 'components/notification/notification.css' %}</style>
	<div class="notification">
		<h1>This is a Notification!</h1>
		<p>Example of Notification</p>
	</div>
{% endblock %}
