<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Senha </title>
    <link rel="stylesheet" type = "text/css" href="css/AlterarSenha.css">
	<link rel="stylesheet" type = "text/css" href=" ../assets/main.css">
	<link rel = "stylesheet" type = "text/css" href = "../basePet.css" media = "all">


   
</head>
<body>


    <div class="menu">
        <div class="menu1">
            <div class="img">
                <button class="BtIMG"><img id="foto"src="{{ user.image }}" height ="200" width="200" /></button>
            </div>
                <div class="NomePerfil"><label id="lbl">{{ user.name }}</label>
            </div>
        
        </div>

        <nav class="menu2">
            <ul style="list-style-type: none;" >
                <li> <a href=""><img id="image1" src="img/AlterarSenha.png   " width="50px" height="50px"> Alterar Senha</a></li>
                <li> <a href=""><img id="image2" src="img/EditarCadastro.png   " width="50px" height="50px">  Editar Cadastro</a></li>
                <li> <a href=""><img id="image3" src="img/CadastrarPet.png  " width="50px" height="50px"> Cadastrar Pet</a></li>
                <li> <a href=""><img id="image4" src="img/CadastrarPagamento.png  " width="50px" height="50px">Cadastrar Meio de Pagamento</a></li>
                
            </ul>
        
        </nav>
        <div class="menu3">
            <div class="menu3-1">
                <button class="BtEntrar">Sair</button>
            </div>
            <div class="menu3-2">
                <img id="image1" src="img/Pet.png" width="200px" height="200px">
            </div>
            
        </div>
    </div>


    <div class="cabecalho">
        Alterar Senha
    </div>

   
    <div class="main">
        <div class="F1">

        </div>
        <div class="F2">
            <div class="desc">
                Sua senha deve conter pelo menos 8 caracteres incluindo números, letras e caracteres especiais.

            </div>
            <form class="Formulario">
                <label>Digite a Senha Atual:</label> <br><input type="password" name="fname"><br><br>
                <br><label>Digite a Nova Senha :</label> <br> <input type="password" name="lname"><br><br>
                <br><label>Confirme a Nova Senha :</label><br> <input type="password" name="lname"><br><br>
                <br><button class="BtCadastro">Confirmar</button>
            
            </form>
        </div>





    </div>


   
    <!--div id="rodape">
        rodape
    </div-->
    
</body>
</html>