{% extends "components/main/main.html.twig" %}

{% block title %}
	Alterar Senha
{% endblock %}

{% block page_css %}
	{% include "AlterarSenha/alterarsenha.css" %}
{% endblock %}

{% block content %}
	<div class="cabecalho">
		Alterar Senha
	</div>

	<div class="main">
		<div class="F1"></div>
		<div class="F2">
			<div class="desc">
				Sua senha deve conter entre 8 e 12 caracteres incluindo letras maiúsculas, minúsculas, números e caracteres especiais.
			</div>
			<form action="/alterarsenha" method="POST" class="Formulario">
				<label>Digite a Senha Atual:</label><br>
				<input type="password" name="oldPassword" required/><br><br>
				<br><label>Digite a Nova Senha :</label>
				<br>
				<input id="newPassword" type="password" name="newPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" minlength="8" maxlength="12" required/>
				<br><br>
				<br><label>Confirme a Nova Senha :</label><br>
				<input id="confirmPassword" type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" minlength="8" maxlength="12" onchange="Password.confirm();" required/><br><br>
				<br><button type="submit" class="BtCadastro">Confirmar</button>
			</form>
		</div>


	</div>
{% endblock content %}

{% block page_js %}
	{% include 'AlterarSenha/alterarsenha.js' %}
{% endblock page_js %}
