{% extends "components/main/main.html.twig" %}

{% block title %}
	Inicio
{% endblock %}

{% block page_css %}
	{% include "Home/home.css" %}
{% endblock %}

{% block content %}
	<div class="cabecalho">
		Produtos e Serviços
	</div>

	<div class="main">
		<div class="ret01" style="text-align:center;">
			<button class="BtBanhoTosa"><img src="/img/1.png" height="430" width="330"/></button>
		</div>
		<div class="ret02" style="text-align:center;">
			<button class="BtBanhoTosa"><img src="/img/2.png" height="430" width="330"/></button>
		</div>
		<div class="ret03" style="text-align:center;">
			<button class="BtBanhoTosa"><img src="/img/3.png" height="430" width="330"/></button>
		</div>
		<div class="ret04" style="text-align:center;">
			<button class="BtBanhoTosa"><img src="/img/4.png" height="430" width="330"/></button>
		</div>
	</div>
{% endblock %}
