<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicial </title>
    <link rel="stylesheet" href="css/PG-Inicial-Logado.css">
   
</head>
<body>


    <div class="menu">
        <div class="menu1">
            <div class="img">
                <button id="BtIMG"><img id="foto"src="img/JuliaDaSilva.png" height ="200" width="200" /></button>
            </div>
                <div class="NomePerfil"><label id="lbl">Julia Da Silva</label>
            </div>
        
        </div>

        <nav class="menu2">
            <ul style="list-style-type: none;" >
                <li> <a href=""><img id="image1" src="img/AlterarSenha.png   " width="50px" height="50px"> Alterar Senha</a></li>
                <li> <a href=""><img id="image2" src="img/EditarCadastro.png   " width="50px" height="50px">  Editar Cadastro</a></li>
                <li> <a href=""><img id="image3" src="img/CadastrarPet.png  " width="50px" height="50px"> Cadastrar Pet</a></li>
                <li> <a href=""><img id="image4" src="img/CadastrarPagamento.png  " width="50px" height="50px">Cadastrar Meio de Pagamento</a></li>
                
            </ul>
        
        </nav>
        <div class="menu3">
            <div class="menu3-1">
                <button class="BtEntrar">Sair</button>
            </div>
            <div class="menu3-2">
                <img id="image5" src="img/Pet.png" width="200px" height="200px">
            </div>
            
        </div>
    </div>


    <div class="cabecalho">
        Produtos e Serviços
    </div>

    <div class="main">
        <div class="ret01" style="text-align:center;">
            <button class="BtBanhoTosa"><img src="img/1.png" height ="430" width="330" /></button>
        </div>
        <div class="ret02" style="text-align:center;">
            <button class="BtBanhoTosa"><img src="img/2.png" height ="430" width="330" /></button>
        </div>
        <div class="ret03" style="text-align:center;">
            <button class="BtBanhoTosa"><img src="img/3.png" height ="430" width="330" /></button>
        </div>
        <div class="ret04" style="text-align:center;">
            <button class="BtBanhoTosa"><img src="img/4.png" height ="430" width="330" /></button>
        </div>
    </div>
   
    <div class="rodape">
        rodape
    </div>
    
</body>
</html>