.notification
{
    position: fixed;
    z-index: 1;
    top: 200px;
    left: 10%;
    right: 10%;
    min-height: 100px;
    border-radius: 1em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.5);
    opacity: 1;
}

.notification .title, .notification .message
{
    padding: 15px;
}

.notification .title
{
    font-size: xx-large;
}

.notification.success
{
    background-color: darkgreen;
    color: #F1FFF1;
}

.notification.error
{
    background-color: darkred;
    color: #FFF1F1;
}

.notification.warning
{
    background-color: darkorange;
    color:#F1FFF1;
}

.notification.info
{
    background-color: darkblue;
    color: #F1FFF1;
}